Repository Devasy23/splitwiser, pull requests merged in 2025-08, with the labels that each got.

#112 Fix: Adjust Codecov thresholds and paths for backend coverage; improve frontend test handling
  .codecov.yml
  .github/workflows/bundle-analysis.yml.disabled
  .github/workflows/run-tests.yml
  .pre-commit-config.yaml
  backend/app/auth/routes.py
  backend/app/auth/security.py
  backend/app/auth/service.py
  backend/app/expenses/routes.py
  backend/app/expenses/schemas.py
  backend/app/expenses/service.py
  backend/app/groups/routes.py
  backend/app/groups/service.py
  backend/app/user/routes.py
  backend/scripts/migrate_avatar_to_imageurl.py
  backend/tests/auth/test_auth_routes.py
  backend/tests/auth/test_auth_service.py
  backend/tests/conftest.py
  backend/tests/expenses/test_expense_routes.py
  backend/tests/expenses/test_expense_service.py
  backend/tests/groups/test_groups_service.py
  backend/tests/user/test_user_routes.py
  backend/tests/user/test_user_service.py
  setup.cfg
  ui-poc/Home.py
  ui-poc/pages/Friends.py
  ui-poc/pages/Groups.py
  ui-poc/setup_test_data.py
Labels: gssoc25, level2

#114 Implement friends balance retrieval and enhance HomeScreen actions
  frontend/api/groups.js
  frontend/frontend/package-lock.json
  frontend/frontend/package.json
  frontend/screens/FriendsScreen.js
  frontend/screens/GroupDetailsScreen.js
  frontend/screens/HomeScreen.js
  frontend/utils/balanceCalculator.js
Labels: frontend, level2

#128 Add group settings functionality and enhance group details screen
  backend/app/expenses/service.py
  backend/app/groups/service.py
  backend/tests/groups/test_groups_service.py
  frontend/api/auth.js
  frontend/api/client.js
  frontend/api/groups.js
  frontend/app.json
  frontend/context/AuthContext.js
  frontend/navigation/GroupsStackNavigator.js
  frontend/package-lock.json
  frontend/package.json
  frontend/screens/AccountScreen.js
  frontend/screens/AddExpenseScreen.js
  frontend/screens/EditProfileScreen.js
  frontend/screens/FriendsScreen.js
  frontend/screens/GroupDetailsScreen.js
  frontend/screens/GroupSettingsScreen.js
  frontend/screens/HomeScreen.js
  frontend/screens/JoinGroupScreen.js
  frontend/utils/currency.js
Labels: enhancement, groups, level3

#141 Resolved issue #110
  frontend/app.json
  frontend/package-lock.json
  frontend/package.json
Labels: gssoc25, level1, migration, run-preview
