Repository Devasy23/splitwiser, pull requests merged in 2025-07, with the labels that each got.

#80 Update Codecov configuration and remove unsupported test analytics
  .codecov.yml
  codecov.yml
Labels: quality-assurance, gssoc25, level2, api, production, code-quality

#78 docs: Add setup guide for UI and authenticated endpoints
  README.md
  backend/README.md
Labels: documentation, backend, gssoc25, level2

#89 Bug Fix: Inconsistent Field Naming - avatar vs imageUrl
  backend/app/auth/schemas.py
  backend/app/auth/service.py
  backend/app/groups/service.py
  backend/app/user/service.py
  backend/scripts/backup_db.py
  backend/scripts/migrate_avatar_to_imageurl.py
  backend/tests/auth/test_auth_routes.py
Labels: bug, good first issue, backend, gssoc25, level2, api

#97 Fix: Ensure st.set_page_config is first Streamlit call in Home page
  ui-poc/Home.py
Labels: bug, good first issue, gssoc25, level1
